.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding: 92px 48px 92px 48px;
}

@media screen and (max-width: 1030px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    box-sizing: border-box;
    max-width: 768px;
    padding: 88px 24px 88px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 64px;
  }
}
